<% if user_signed_in? %>
<div class="mcbox">
<% @messages.where(:article_type => "Category").each do |message| %>
		<div class="post col-md-6">
			<div class="message Categorypost">
				<h2 class="message-title"><%= link_to image_tag("white.png", :width => "25px"), message %> 	&nbsp; <%= message.title %></h2>
				<p class="message-description"><%= message.description %></p>
				<hr />
				<%= link_to "#{@messages.where(:parent => message.id).length.to_s} links", message %>
				<% if message.parent? %>
					<p style="color:white;">linked to <a href="/messages/<%= message.parent %>">post <%= message.parent %></a></p>
				<% end %>
				<p class="message-posted-by">posted by <%= link_to message.user.username, user_path(message.user) %> <%= time_ago_in_words(message.created_at) %> ago</p>
			</div>
		</div>
	<% end %>
	</div>
<% else %>
	<h3>Please log in to view the discussion.</h3>
<% end %>


<script>
	$(document).ready(function () {
    var container = $('.mcbox');

    container.imagesLoaded( function () {
	  container.masonry({
	    itemSelector: '.post'
	  });   
	});
});
</script>