<% if user_signed_in? %>
<div class="mcbox">
<% @messages.where(:article_type => "Category").each do |message| %>
		<div class="post col-md-6">
			<div class="message">
				<h2 class="message-title"><%= link_to image_tag("white.png", :width => "25px"), message %> 	&nbsp; <%= message.title %></h2>
				<p class="message-posted-by">posted by <%= link_to message.user.username, user_path(message.user) %> <%= time_ago_in_words(message.created_at) %> ago</p>
				<p class="message-description"><%= message.description %></p>
				<% if message.user_id == current_user.id %>
					<div class="links">
						<%= link_to "Edit", edit_message_path(message) %>
						<%= link_to "Delete", message_path(message), method: :delete, data: { confirm: "Are you sure?" } %>
					</div>
				<% end %>
				<hr />
			</div>
		</div>
	<% end %>
	</div>
<% else %>
	<h3>Please log in to view the discussion.</h3>
<% end %>


<script>
	$(document).ready(function () {
    var container = $('.mcbox');

    container.imagesLoaded( function () {
	  container.masonry({
	    itemSelector: '.post'
	  });   
	});
});
</script>