<% if user_signed_in? %>
	<% @messages.each do |message| %>
		<div class="col-md-8">
			<div class="message">
				<h2 class="message-title"><%= link_to image_tag("white.png", :width => "25px"), message %> 	&nbsp; <%= message.title %></h2>
				<p class="message-posted-by">posted by <%= link_to message.user.username, user_path(message.user) %> <%= time_ago_in_words(message.created_at) %> ago</p>
				<p class="message-description"><%= message.description %></p>
				<% if message.user_id == current_user.id %>
					<div class="links">
						<%= link_to "Edit", edit_message_path(message) %>
						<%= link_to "Delete", message_path(message), method: :delete, data: { confirm: "Are you sure?" } %>
					</div>
				<% end %>
				<hr />
				<p id="comments" style="color:white;" >Showing <%= (message.comments.length > 2) ? 3 : message.comments.length %>/<a href="/messages/<%= message.id.to_s %>#comments"><%= message.comments.length %></a> comments.</p>
				<div style="color:white;"><%= render message.comments[0,3] %></div>
				<br />
				<a href="/messages/<%= message.id.to_s %>#comments">View more comments.</a>
				<br />
				<br />
				<%= simple_form_for([message, message.comments.build]) do |f| %>
					<%= f.input :content, label: false, :class => 'textarea' %>
					<%= f.submit "Post Comment", :class => 'btn btn-sm', :onClick => "reloadComments(event)" %>
				<% end %>
				<br />
			</div>
		</div>
	<% end %>
<% else %>
	<h3>Please log in to view the discussion.</h3>
<% end %>