<% if user_signed_in? %>
<div class="row">
<div class="col-md-6 ">
	<div class="message-show">
		<% if @message.article_type == "Idea" %>
			<p class="message-description"><%= link_to image_tag("white.png", :width => "25px"), @message %> 	&nbsp;  <%= @message.description %></p>
			<% else %>	
			<h2 class="message-title"><%= link_to image_tag("white.png", :width => "25px"), @message %> &nbsp; <%= @message.title %></h2>
			<p class="message-description"><%= @message.description %></p>
		<% end %>
		<% if @message.image? %>
			<%= image_tag(@message.image.url, style: 'max-width:100%;' ) %>
			<br />
			<br />
		<% end %>
		<p style="color:white;"><%= @messages.where(:parent => @message.id).length %> links</p>
			<p class="message-posted-by">posted by <%= link_to @message.user.username, user_path(@message.user) %> <%= time_ago_in_words(@message.created_at) %> ago</p>
			
		<% if @message.user_id == current_user.id %>
			<div class="links">
				<%= link_to "Edit", edit_message_path(@message) %>
				<%= link_to "Delete", message_path(@message), method: :delete, data: { confirm: "Are you sure?" } %>
			</div>
		<% end %>
	</div>
</div>
<div class='col-md-6 container row' style="padding-bottom:30px;">
	<div class="col-md-2">
	<%= link_to "<button class='btn btn-default'>Reply with linked post</button>".html_safe, "/messages/new/?link="+@message.id.to_s %>
	</div>
	<br />
	<br />
	<br />
	<% @messages.where(:parent => @message.id).each do |message| %>
		<div class="col-md-12">
    			<div class="message">
    				<% if message.article_type == "Idea" %>
					<p class="message-description"><%= link_to image_tag("white.png", :width => "25px"), message %> 	&nbsp;  <%= message.description %></p>
					<%= if message.image?
					image_tag(message.image.url, style: 'max-width:100%;' )
				end %>
					<% else %>	
					<h2 class="message-title"><%= link_to image_tag("white.png", :width => "25px"), message %> &nbsp; <%= message.title %></h2>
					<p class="message-description"><%= message.description %></p>
					<% if message.image? %>
						<%= image_tag(message.image.url, style: 'max-width:100%;' ) %>
						<br />
						<br />
					<% end %>
					<% end %>
					<%= link_to "#{@messages.where(:parent => message.id).length.to_s} links", message %>
					<div class="links btn-group">
						<% if @message.user_id == current_user.id %>
							<%= link_to "Edit", edit_message_path(@message) %>
							<%= link_to "Delete", message_path(@message), method: :delete, data: { confirm: "Are you sure?" } %>
						<% end %>
					</div>
					<p class="message-posted-by">posted by <%= link_to message.user.username, user_path(message.user) %> <%= time_ago_in_words(message.created_at) %> ago</p>
					
    			</div>
    		</div>
	<% end %>
</div>
</div>
<% else %>
	<h3>Please log in to view the discussion.</h3>
<% end %>

<script>
	$(document).ready(".focusbutton").one('click', function() {
		var textarea = $('textarea');
		setTimeout(function() {
		  textarea.focus();
		}, 0);

	});
</script>